
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Password</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody id="tblBody">
    </tbody>
</table>