@model UserLive.Models.NewUserVM
@{
    ViewData["Title"] = "InsertMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-success {
        display: block;
    }

    #checkboxeslist, #checkboxeslistEdit {
        display: flex;
        /*justify-content:center;*/
        justify-content: space-between;
    }

    .lds-spinner {
        color: official;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        left:50%;
        right:50%;
    }

        .lds-spinner div {
            transform-origin: 40px 40px;
            animation: lds-spinner 1.2s linear infinite;
        }

            .lds-spinner div:after {
                content: " ";
                display: block;
                position: absolute;
                top: 3px;
                left: 37px;
                width: 6px;
                height: 18px;
                border-radius: 20%;
                background: #000000;
            }

            .lds-spinner div:nth-child(1) {
                transform: rotate(0deg);
                animation-delay: -1.1s;
            }

            .lds-spinner div:nth-child(2) {
                transform: rotate(30deg);
                animation-delay: -1s;
            }

            .lds-spinner div:nth-child(3) {
                transform: rotate(60deg);
                animation-delay: -0.9s;
            }

            .lds-spinner div:nth-child(4) {
                transform: rotate(90deg);
                animation-delay: -0.8s;
            }

            .lds-spinner div:nth-child(5) {
                transform: rotate(120deg);
                animation-delay: -0.7s;
            }

            .lds-spinner div:nth-child(6) {
                transform: rotate(150deg);
                animation-delay: -0.6s;
            }

            .lds-spinner div:nth-child(7) {
                transform: rotate(180deg);
                animation-delay: -0.5s;
            }

            .lds-spinner div:nth-child(8) {
                transform: rotate(210deg);
                animation-delay: -0.4s;
            }

            .lds-spinner div:nth-child(9) {
                transform: rotate(240deg);
                animation-delay: -0.3s;
            }

            .lds-spinner div:nth-child(10) {
                transform: rotate(270deg);
                animation-delay: -0.2s;
            }

            .lds-spinner div:nth-child(11) {
                transform: rotate(300deg);
                animation-delay: -0.1s;
            }

            .lds-spinner div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
            }

    @@keyframes lds-spinner {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .load_master {
        border: 16px solid #f3f3f3; /*Light gre*/
        border-top: 16px solid #3498db; /*Blue*/
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        text-align: center;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<h2>Insert Master</h2>
<hr />

<div class="container">
    <div id="_ip" class="text-center"></div>
    <div class="row">
        <div class="col-lg-5">
            <h1 class="alert alert-info">Insert Users</h1>
            <form id="formData" enctype="multipart/form-data">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">UserName</label>
                        <input type="text" id="uname" name="_userName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="email" id="email" name="_userEmail" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" id="pwd" name="_userPwd" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Phone</label>
                        <input type="text" id="phone" name="_userPhone" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Country</label>
                        <select class="form-control classCountryList" id="countryList" name="countryList">
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Province</label>
                        <select class="form-control classProvinceList" id="provinceList" name="provinceList">
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">DOB</label>
                        <input type="date" id="dob" name="_dob" class="form-control" placeholder="Enter DOB" />
                    </div>
                </div>

                @* IMG *@
                <div class="col-md-12">
                    <div class="user_profile_img">

                        <input name="_cover" type="file" class="hidden" id="InputImg" accept="image/*" />
                        <img src="~/images/img/programmer.gif" id="blahImg" name="ImagePath">
                        @*<input type="text" name="file" />*@
                    </div>
                </div>

                <!--<div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Upload File</label>
            <input type="file" id="file" name="myfile"><br>
            <input type="submit" id="btnFileUpload" class="btn btn-success btn-xs" value="Upload File">
        </div>-->
                @* Progress bar *@

                @*<div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>*@

                <!--</div>-->
                @*<div class="col-md-12">
            <div class="progress">
                <div class="bar"></div>
                <div class="percent">0%</div>
            </div>

            <div id="status"></div>
        </div>*@

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">
                            Skills
                        </label>
                        <div class="" id="checkboxeslist">
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <input type="button" id="btnSubmitt" class="btn btn-primary" value="Create" />
                </div>
            </form>




            <div class="row hidden" id="table_hover">
                <table class="table table-hover table-striped ">
                    <thead>
                        <tr>
                            @*<th>ID</th>*@
                            <th>UserName</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Phone</th>
                            <th>Country</th>
                            <th>Province</th>

                        </tr>
                    </thead>
                    <tbody class="tbody">
                    </tbody>
                </table>

                @using (Html.BeginForm("InsertMasterData", "NewUser", FormMethod.Post, new { defaultbutton = "SubmitButton", onsubmit = "addInfo()", enctype = "multipart/form-data", role = "form", id = "myForm" }))
                {
                    @Html.HiddenFor(x => x.dataList, new { id = "data" })
                    <div class="form-group">
                        <input type="submit" id="btnInsert" class="btn btn-success " value="Save" />
                    </div>
                }
            </div>
        </div>


        <!--*********************************************************show user list***************************************************************-->

        <div class="col-lg-7">
            <h1 class="alert alert-info">Users List</h1>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        @*<th>ID</th>*@
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Phone</th>
                        <th>Country</th>
                        <th>Province</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tMasterbody">
                </tbody>
            </table>
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

        </div>
    </div>



    <!--*********************************************************POP UP MODEL***************************************************************-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="_formData" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">User Detail</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                @*<input type="hidden" id="_userId" name="user_id" class="" />*@

                                <div class="form-group">
                                    <label class="control-label">UserId</label>
                                    <input type="text" id="_userId" disabled class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">UserName</label>
                                    <input type="text" id="_uname" name="user_name" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="email" id="_email" disabled name="user_email" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input type="password" id="_pwd" name="user_pwd" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Phone</label>
                                    <input type="text" id="_phone" name="user_phone" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Country</label>
                                    <select class="form-control classCountryList" id="countryListEdit" name="_countryListEdit">
                                    </select>

                                </div>


                                @*<div class="form-group">
                                    <label class="control-label">Province</label>
                                    <select class="form-control classproListEdit" id="proListEdit" name="_proListEdit">
                                    </select>
                                </div>*@

                                <div class="form-group">
                                    <label class="control-label">
                                        Skills
                                    </label>
                                    <div class="" id="checkboxeslistEdit">
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btnUpdate">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {

        loadMasterData();
        CountryDropDown();
        SkillsList();

    });

    function GetImage() {
        $("#blahImg").click(function () {
            $("#InputImg").trigger('click')
        })
    }
    function GetImagePath() {
        $("#InputImg").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blahImg').attr('src', e.target.result)
                    console.log("src=> ", e.target.result)
                }

                reader.readAsDataURL(this.files[0]);
                //console.log("reader=> ", reader)
            }
        })
    }
    //$("#btnFileUpload").click(function (e) {
    //          var bar = $('.bar');
    //    var percent = $('.percent');
    //    var status = $('#status');
    //    e.preventDefault()
    //    var fd = new FormData();
    //    var files = $('#file').get(0).files;
    //    var upFile = fd.append('file', files[0]);
    //    $.ajax({
    //        beforeSend: function () {
    //            status.empty();
    //            var percentVal = '0%';
    //            bar.width(percentVal);
    //            percent.html(percentVal);
    //        },
    //        uploadProgress: function (event, position, total, percentComplete) {
    //            var percentVal = percentComplete + '%';
    //            bar.width(percentVal);
    //            percent.html(percentVal);
    //        },
    //        complete: function (xhr) {
    //            status.html(xhr.responseText);
    //        }
    //    });
    //    //$.ajax({
    //    //    xhr: function () {
    //    //        var xhr = new window.XMLHttpRequest();
    //    //        xhr.upload.addEventListener('progress', function (e) {
    //    //            if (e.lengthComputable) {
    //    //                console.log("bytes loaded=> ", e.loaded)
    //    //                console.log('total size=> ', e.total)
    //    //                console.log('%age uploaded=> ', (e.loaded / e.total))
    //    //                var perc = Math.round((e.loaded / e.total))

    //    //                $(".progress-bar").attr('aria-valuenow', perc).css('width', perc).text(perc + "%")
    //    //            }
    //    //        })
    //    //    },
    //    //    type:'post',
    //    //    url: '/upload',
    //    //    data: files,
    //    //    success: function () {
    //    //        alert('done')
    //    //    }



















    //    //console.log("id=> ", $("#file"))
    //    //var files = $('#file').get(0).files;
    //    //var upFile = fd.append('file', files[0]);
    //    //console.log("upFile=> ", upFile);
    //    //console.log("Files=> ", files);




    //    //var bar = $('.bar');
    //    //var percent = $('.percent');
    //    //var status = $('#status');

    //    //$('#formData').aja({
    //    //    beforeSend: function () {
    //    //        status.empty();
    //    //        var percentVal = '0%';
    //    //        bar.width(percentVal);
    //    //        percent.html(percentVal);
    //    //    },
    //    //    uploadProgress: function (event, position, total, percentComplete) {
    //    //        var percentVal = percentComplete + '%';
    //    //        bar.width(percentVal);
    //    //        percent.html(percentVal);
    //    //    },
    //    //    complete: function (xhr) {
    //    //        status.html(xhr.responseText);
    //    //    }
    //    //});
    //})

    function GetProvinceList(userDropDownVal) {
        $.ajax({
            url: "/Country/GetProvinceLists",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //console.log("Province Dropdown=> ", result)

                var dropdown = '<option value="-1">Please Select Province</option>';
                var updated_dropdown = new Array();


                //for filter the array values on the basis of FK
                updated_dropdown = $.map(result, function (val, key) {
                    //console.log("In Map (result)=> ", result)
                    if (val.countryId == userDropDownVal) {
                        return val;
                    }
                    //console.log("val=> ", val)
                })


                for (var i = 0; i < updated_dropdown.length; i++) {
                    dropdown += '<option value="' + updated_dropdown[i].provinceId + '">' + updated_dropdown[i].provinceName + '</option>';
                }
                $("#provinceList,#proListEdit").html(dropdown)
                console.log("ProvinceListVal(Country)=> ", userDropDownVal)
                console.log("updated_dropdown(Province)=> ", updated_dropdown)

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function CountryDropDown() {
        $.ajax({
            url: "/Country/GetCountryLists",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //console.log("CountryDropDown=> ", result)

                var dropdown = '<option value="-1">Please Select Country</option>';
                for (var i = 0; i < result.length; i++) {
                    dropdown += '<option value="' + result[i].countryId + '">' + result[i].countryName + '</option>';
                }
                $("#countryList,#countryListEdit").html(dropdown)
                $("#countryList,#countryListEdit").change(function () {

                    var userDropDownText = $("#countryList,#countryListEdit option:selected").text();
                    var userDropDownVal = $("#countryList,#countryListEdit option:selected").val();
                    console.log("changed clicked" + " | " + userDropDownText + " | " + userDropDownVal)

                    GetProvinceList(userDropDownVal)

                })
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function SkillsList() {
        $.ajax({
            url: "/Country/GetSkillsLists",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log("Check Boxes=> ", result)

                var checkbox = '';
                for (var i = 0; i < result.length; i++) {
                    checkbox += '<label class="control-label check">' + result[i].skillName + '<input class="form-control" type="checkbox" id="' + result[i].skillId + '" value="' + result[i].skillId + '" />' + '</label>&nbsp;';
                }


                $("#checkboxeslist,#checkboxeslistEdit").html(checkbox)


            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function loadMasterData() {
        var loader = $(".lds-spinner").show();
        $.ajax({
            url: "/NewUser/GetMasterUsersLists",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loader.hide();
                var html = '';
                //console.log("result=> ", result)
                $.each(result, function (key, item) {
                    //console.log("Item=> ",item)
                    html += '<tr>';
                    //html += '<td>' + item._userId + '</td>';
                    html += '<td>' + item.userName + '</td>';
                    html += '<td>' + item.userEmail + '</td>';
                    html += '<td>' + item.userPhone + '</td>';
                    html += '<td>' + item.userPwd + '</td>';
                    html += '<td>' + item.countryName + '</td>';
                    html += '<td>' + item.provinceName + '</td>';
                    html += '<td><a href="#" onclick="RcrdGetbyID(' + item.userId + ')">Edit</a> | <a href="/NewUser/InsertMaster" onclick="DeleleRecord(' + item.userId + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('#tMasterbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    /***********************************************Delete Record**********************************************************/
    function DeleleRecord(id) {
        if (confirm("Are you sure you want to delete this rcrd??")) {
            $.ajax({
                url: "/NewUser/DeleteRecordbyID/" + id,
                type: 'GET',
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (data) {
                    console.log("Data Success=> ", data)
                    loadMasterData();
                },
                error: function (err) {
                    console.error("Error=> ", err.responseText)
                }
            })
        }
    }

    /***********************************************Edit Record**********************************************************/
    function RcrdGetbyID(id) {
        formClear()
        $.ajax({
            url: '/NewUser/GetMasterbyId/' + id,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            type: 'GET',
            processData: false,
            success: function (result) {
                console.log("Edit Result=> ", result)
                console.log("User id=> ", result.userId)
                $("#_userId").val(result.userId);
                $("#_uname").val(result.userName);
                $("#_email").val(result.userEmail);
                $("#_pwd").val(result.userPwd);
                $("#_phone").val(result.userPhone);
                var countryId = parseInt(result.userCountry)
                //var provinceId = parseInt(result._userProvince)

                //map saved chkBoxes values
                var editchecklist = JSON.parse(result.uskillIds)
                console.log("Chl Lst=> ",editchecklist)
                for (var i = 0; i < editchecklist.length; i++) {
                    $("#checkboxeslistEdit input[value=" + editchecklist[i] + "]").attr("checked", true).val(editchecklist[i]);
                    console.log("Check List=> ", editchecklist[i])

                }

                console.log("countryId=> ", countryId)

                $("#countryListEdit option[value=" + countryId + "]").attr("selected", true).val(countryId)
                console.log("val=> ", countryId)




                $("#myModal").modal("show")

            },
            error: function (err) {
                console.error("Error=> ", err.responseText)
            }
        })

    }
    /***********************************************Update Record**********************************************************/

    $("#btnUpdate").click(function () {
        var uname = $("#_uname").val();
        var email = $("#_email").val();
        var pwd = $("#_pwd").val();
        var uid = $("#_userId").val()
        var phone = $("#_phone").val();
        var userDropDown = $("#countryListEdit option:selected").text();
        var userDropDownVal = $("#countryListEdit option:selected").val();
        console.log("Update DropDown=> " + userDropDown + " | " + "Update userDropDownVal=> ", userDropDownVal)

        console.log("UserId=> " + uid)

        var data = new FormData;
        data.append("userName", uname)
        data.append("userPwd", pwd)
        data.append("userEmail", email)
        data.append("userPhone", phone)
        data.append("userId", uid)
        data.append("userCountry", userDropDownVal)


        //console.log("After CLicking=> ", data.userId)

        $.ajax({
            url: "/NewUser/GetMasterbyId/" + uid,
            type: "POST",
            dataType: "json",
            data: data,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("Success=> ", data)
                loadMasterData();
                $('#myModal').modal('hide');
                swal("Data updated successfully")
            },
            error: function (err) {
                console.error("Error=> ", err.responseText)
            }
        }).done(function (result) {
            console.log("Done=> ", result)
        }).fail(function (fail) {

            console.log("Fail=> ", fail)
        })
    })
    /***********************************************Insert Bulk Records**********************************************************/
    //global array
    let _data = new Array();
    $("#btnSubmitt").click(function (event) {
        event.preventDefault();
        var selected = new Array();
        let uname = $("#uname").val();
        let email = $("#email").val();
        let pwd = $("#pwd").val();
        let phone = $("#phone").val();
        var userDropDown = $("#countryList option:selected").text();
        var userDropDownVal = $("#countryList option:selected").val();

        //var provinceDropDownText = $("#provinceList option:selected").text();
        //var provinceDropDownVal = $("#provinceList option:selected").val();


        //get multiple check boxes values
        var checkbox = $("#checkboxeslist input[type=checkbox]:checked").each(function () {
            selected.push(this.value);
        });
        if (selected.length > 0) {
            console.log("Selected values: " + selected.join(","));
        }

        var html = ''
        html += '<tr>';
        html += '<td id="userName">' + uname + '</td>';
        html += '<td id="userEmail">' + email + '</td>';
        html += '<td id="userPwd">' + pwd + '</td>';
        html += '<td id="userPhone">' + phone + '</td>';
        html += '<td id="userDropDown">' + userDropDown + '</td>';
        html += '</tr>';

        $('.tbody').append(html);
        $("#table_hover").removeClass("hidden")



        formClear();
        $("#uname").focus()


        $('.tbody').each(function () {
            let pushedData = {}
            pushedData.userName = uname
            pushedData.userEmail = email
            pushedData.userPwd = pwd
            pushedData.userPhone = phone
            pushedData.userCountry = userDropDownVal
            pushedData.countryName = userDropDown
            pushedData.uskillIds = JSON.stringify(selected)

            //pushedData._userProvince = provinceDropDownVal
            //pushedData._provinceName = provinceDropDownText

            console.log("Inside table => ", pushedData.userName + " | " + pushedData.userEmail + " | " + pushedData.userPwd + " | " + pushedData.userPhone + " | " + pushedData.userCountry + " | " + pushedData.countryName + " | " + pushedData.uskillIds )
            console.log("Pushed=> ", pushedData)
            _data.push(pushedData)
            swal("Data pushed in queue.")
            console.log("_data=> ", _data)


        });
    });

    function addInfo() {
        //alert(JSON.stringify(_data))
        //var filePath = $("#InputImg").get(0).files;


        var updated_data = $("#data").val(JSON.stringify(_data))
        console.log("updated_data=> ", updated_data.val())

    }

    function formClear() {
        //Clear fields
        $("#uname").val("");
        $("#email").val("");
        $("#pwd").val("");
        $("#phone").val("");
        $("#countryList").val("-1");
        $('#checkboxeslistEdit input:checkbox,#checkboxeslist input:checkbox').removeAttr('checked');
        //$("#provinceList").attr("disabled", "disabled").val("-1")
        //$("#checkboxeslist").remove();
    }

    /***********************************************ENd Insert Bulk Records**********************************************************/
</script>
